<head>
    <link rel="stylesheet" 
    href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
</head>

<!--Footer statrs here-->
<div class="bg-dark">
   <div class="container"> <!--section1 of footer-->
        <div class="row"> <!--row1 starts here-->
           <div class="col">
              <h4 class="text-center pt-4" style="color: whitesmoke ;">Stay connected with us :</h4>
           </div>
           <div class ="col pt-4">
               <div class = "row connect"> <!--row2 and connect class--> 
                <a href="#" class="col text-center h5 p-2 fst-italic"><i class="fab fa-instagram-square"></i>Instagram</a>
                <a href="#" class="col text-center 
                 h5 p-2"><i class="fab fa-twitter"></i>Twitter</a>
                <a href="#" class="col text-center h5 p-2"><i class="fab fa-facebook"></i>Facebook</a>
                </div> <!--row2 andconnect class ends here-->>
             </div> <!--col ends here-->
        </div><!--row1 ends here-->
    </div>  <!--section1 of footer ends here-->
    <hr class="w-75" style="color: whitesmoke; margin-left: 150px; "> 
    <!--Section2 of footer starts-->
<div>
    <h5 class="text-center mt-4" style="color: whitesmoke;">For any queries contact us : </h5>
    <div class= "container-fluid mt-4">
        <div class ="row "> <!--row  starts here-->
            <div class="col border border-light text-center pt-3 m-1 rounded">
                <i class="fas fa-phone-square fa-3x" style="color:yellowgreen; "></i>
                <p class="pt-2" style="color: whitesmoke;">+91 8587412002</p>
            </div>
            <div class="col border border-light text-center pt-3 m-1 rounded">
                <i class="fas fa-envelope-square fa-3x" style="color:yellowgreen;"></i>
                <p  class="pt-2"style="color: whitesmoke;">sweetbloosoms77@gmail.com</p>
            </div>
            <div class="col border border-light text-center pt-3 m-1 rounded">
                <i class="fas fa-map-marker-alt fa-3x" style="color:yellowgreen;"></i>
                <address class="pt-2" style="color: whitesmoke;">Sweet bloosoms, Shop No.03, Baker's street, India. </address>
            </div>
        </div> <!--row ends here-->
    </div><!--container fluid ends here-->
</div><br />
    <!--section2 of footer ends-->

     <!--Section3 of footer starts here-->
    <div class="w-50 text-center pt-1 pb-1" style="margin-left: 350px;">
        <p class="p-2 border rounded fw-bold" style="background-color: whitesmoke; color: darkslateblue;">Copyright <span><i class="far fa-copyright"></i></span> 2021. All right reserved.</p>
    </div>
    <!--section3 of footer ends here-->
</div> <!--Footer ends here -->