body {
   background-image: url('src/assets/images/bg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 525px;
   margin-top:-24px;
   
  }
.form{
  
  opacity: 0.7;
  color: white;
  font-family: Helvetica;
}
.form-label {
color:lightsteelblue;
font-weight: 700;
}

