<body>
    <!---Home section 1 starts here-->
    <div class="intro">
    <h1 class="pt-5 fw-bold" style="margin-left: 60px; font-family: Times New Roman;" > Perfect gift for your beloved </h1>
    <blockquote class="fst-italic rounded-pill mt-4" >“A world of grief and pain flowers bloom  — <br> even then.”</blockquote>
    <p style="margin-left:80px; color: maroon; font-family: Licorice;" class="h5 w-25 p-2">Flowers are the sunshine, food and medicine for the soul. They have a wonderful ability to freshen up the space and spread smiles. A delightful floral bouquet can make a lasting impression on your guests.</p>
   </div>
   <!--Home section 1 ends here-->

   <!--Home section 2 stats here-->
   <div style="background-color :lightgreen; margin-top: -8px;">
  <h3 class="text-center pt-4 fw-bold" style="font-family: Times New Roman; color: darkslategrey;"><u>Our Specialities</u></h3>
  <div class = "container mt-4 pb-5">
    <!--Card 1 starts here-->
    <div class="row">
    <div class="card col" style="background-color: lightskyblue; margin-right: 20px;;">
        <img class="card-img-top p-2" [src]="card1" height="250px;" alt="Flower bouquet">
        <div class="card-body">
          <h5 class="card-title" > Flower bouquet</h5>
          <p class="card-text fst-italic" style="color: darkslateblue; font-weight: 600;">Choose fresh available flower bouquet and get it delivered to your door step quickly and efficiently.</p>
        </div>
      </div>
      <!--Card 1 ends here-->

      <!--Card 2 starts here--> 
      <div class="card col" style="background-color: lightskyblue;">
        <img class="card-img-top p-2" [src]="card2" height="250px;" alt="Events">
        <div class="card-body">
          <h5 class="card-title fw-bold">Events </h5>
          <p class="card-text fst-italic" style="color: darkslateblue; font-weight: 600;" >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum quod sint quis et nemo magni laboriosam assumenda minus. Distinctio atque tenetur possimus sunt alias praesentium, architecto a. Aliquam, quod iste.</p>
        </div>
      </div>
      <!--Card2 end here-->

      <!-- Card 3 starts here-->
      <div class="card col" style="background-color: lightskyblue; margin-left:20px;">
        <img class="card-img-top p-2 " [src] ="card3" height="250px;" alt="Home and Living">
        <div class="card-body">
          <h5 class="card-title">Home and Living</h5>
          <p class="card-text fst-italic" style="color: darkslateblue; font-weight: 600;"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptate deleniti aut eaque est quae quis sed impedit veniam, atque iste alias delectus ipsa adipisci minima fugit repellendus reprehenderit magnam!.</p>
         </div>
      </div>
    </div>
      <!--Card 3 ends here-->
   </div>
  </div>
<!--Home section 2 ends here-->
</body>
